<ion-view ng-controller="loginController" >
<ion-content>
	<div id="login" style="background-color:#000;">
	<div id="bg">
	  <img src="img/bg1.jpg" alt="">
	</div>
		  <div style="text-align:center;" id="logo"><img src="img/logo.png" id="main_logo" width="140px;"/></div>

		  <div class="title">
			   <h4>Welcome to Pagethat</h4>
			   <p>Please login to continue</p>
		  </div>

		  <div class="page_buttons" >
			  <div class="row">
				  <div class="col"></div>
				  <div class="col col-80">
					   <span id="facebook"><button class="button button-block" ng-click="facebookLogin()" id="loginButton"><span style="float:left;">&nbsp;<i class="fa fa-facebook"></i></span>Login with Facebook</button></span>
					  <span id="google"><button class="button button-block" id="loginButton"><span style="float:left;">&nbsp;<i class="fa fa-google-plus"></i></span>Login with Google+</button></span>
					  <span id="twitter"><button class="button button-block" id="loginButton"><span style="float:left;">&nbsp;<i class="fa fa-twitter"></i></span>Login with Twitter</button></span>
				  </div>
				  <div class="col"></div>
				</div>
		  </div>
	</div>
</ion-content>
</ion-view>